<app-header></app-header>
<section class="container section">
  <div>
    <p class="is-size-4">
      Search your Ghibli anime
    </p>
  </div>
  <form>
    <div class="select is-primary">
      <select>
        <option *ngFor="let movie of movies">{{movie.title}}</option>
      </select>
    </div>
    <div class="control">
      <button class="button is-primary my-3">Submit</button>
    </div>
  </form>
  <!-- <table>
    <tr *ngFor="let movie of movies">
      <td>{{ movies }}</td>
    </tr>
  </table> -->
</section>

